<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guides</title>
    <style>
      * { box-sizing: border-box; }
      html {
        height: 100%;
      }
      body {
        margin: 0;
        height: 100%;
        display: flex;
      }
      .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
      }
      .canvas-container {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div id="guides" class="guides"></div>
      <div id="canvas-container" class="canvas-container"></div>
      <script src="index.js"></script>
    </div>
  </body>
</html>
