@font-face {
  font-family: THICCCBoi;
  font-weight: normal;
  src: url("/fonts/thicccboi/THICCCBOI-Regular.woff2") format("opentype");
}

@font-face {
  font-family: THICCCBoi;
  font-weight: bold;
  src: url("/fonts/thicccboi/THICCCBOI-Bold.woff2") format("opentype");
}

body {
  font-family: THICCCBoi, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

div#main {
  display: flex;
  width: 100%;
  height: 100%;
}

.scene-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.loading-button {
  position: absolute;

  bottom: auto;
  top: calc(50% - 20px);

  padding: 12px 6px;
  border: 3px solid transparent;
  border-radius: 9px;
  background: rgba(0, 0, 0, 0.5);
  color: #aaa;
  font: normal 13px THICCCBoi, sans-serif;
  text-align: center;
  opacity: 0.5;
  outline: none;
  z-index: 999;

  left: calc(50% - 75px);
  width: 150px;
  height: 41px;
  line-height: 1;

  cursor: default;
}


.progress-container {
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  z-index: 999;

  background: #212128;


  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.progress-bar {
  box-sizing: border-box;

  width: 60%;
  height: 18px;

  border: 1px solid transparent;
  border-radius: 9px;

  box-shadow: 0 0 0 1px #5c65c0;

  overflow: hidden;
}

.progress-bar > div {
  height: 100%;
  width: 0;

  transition: width 0.3s;

  background: #5c65c0;
}

.progress-msg {
  color: #9A9EC7;
  opacity: 0.8;
  padding: 6px 4px;

  font: normal 15px THICCCBoi, sans-serif;

  min-height: 25px;
}

.progress-branding {
  color: #9A9EC7;
  font-family: THICCCBoi, sans-serif;
  margin: 4rem 0;
  margin-top: -6rem;
  font-size: 1.5rem;
}
.progress-branding div:first-child {
  font-size: 0.75em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0.4;
}
.progress-branding div:last-child {
  font-size: 2em;
  font-weight: bold;
  opacity: 0.8;
}
