$loader_height: 4px;
$loader_transition: 300ms;

.loader {
  transition: $loader_transition opacity;
  transition-delay: $loader_transition;
  
  &.mount {
    background: #212128;

    position: fixed;

    top: 0;
    left: 0;
    z-index: 9999;

    width: 100vw;
    height: 100vh;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.hidden {
      display: none;
    }

    &.closing {
      opacity: 0;
    }
  }
  
  & > .container {
    width: calc(100% - 64px);
    height: $loader_height;
    
    background: #080808;

    & > .progress {
      height: $loader_height;
      background: #5c65c0;
      width: 0;
      
      transition: $loader_transition width;
    }
  }
  
  & > .info {
    color: #eee;
    font-size: 32px;
    font-family: "Roboto", "sans-serif", "monospace", "Arial";
    
    margin-top: 16px;
  }

  & .branding {
    color: #9A9EC7;
    font-family: sans-serif;
    margin: 4rem 0;
    margin-top: -6rem;
    font-size: 1.5rem;
  }
  & .branding div:first-child {
    font-size: 0.75em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.4;
  }
  & .branding div:last-child {
    font-size: 2em;
    font-weight: bold;
    opacity: 0.8;
  }
}
