:root {
  --default-font-stack: 'thicccboi', sans-serif;
}

@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/thicccboi/THICCCBOI-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/thicccboi/THICCCBOI-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/thicccboi/THICCCBOI-Bold.woff2') format('woff2');
  font-weight: 700;
}

/* not used by PDF */
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/thicccboi/THICCCBOI-Black.woff2') format('woff2');
  font-weight: 900;
}

/* only used by PDF */
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/thicccboi/THICCCBOI-Thin.woff2') format('woff2');
  font-weight: 100;
}
