body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    color: white;
    background-size: cover;
    font-family: 'wonderunitsans';
    font-weight: 300;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-app-region: drag;
}
  
body {
    user-select: none;
    -webkit-user-select: none;
    cursor:default;
    line-height: 1.4;
}  

.languages-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.languages-config {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    color: #999;
    position: relative;
    overflow: scroll;
}

.language-editor {
    flex: 1;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content:space-between;
    background-size: cover;
    position: relative;
}

.listing {
    height: 200px;
    box-sizing: border-box;
    max-width: 300px;
    color: #999;
    background-color: rgba(0,0,0,0.6);
}

.listing > div {
    overflow: auto;
    height: 100%;
}

.element {
    box-sizing: border-box;
    /* padding: 6px 16px 6px 8px; */
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.01);
    font-size: 14px;
    letter-spacing: 0.05rem;
    max-width: 300px;
    height: 40px;
    overflow: hidden;
}

.modify-buttons-container  {
    display: flex;
    background-color: rgba(0,0,0,0.6);
    width: -webkit-fit-content;
    width: fit-content;
    margin-top: 6px;
    border-radius: 5px;

}
.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    border: solid 1px;
    padding: .25em .5em;
    margin: 5px;
}

.button {
    color:  #999;
    margin: 2px 12px 2px 12px;
}

.json-label {
    color: #999;
    margin-top: 4px;
}
.json-value {
    margin-left: 10px;
    margin-top: 4px;
    background: transparent;
}
.json-row {
    display: flex;
}
.json-root {
    font-size: 14px;
    overflow: auto;
}

.json-input-preview {
      border: 1px solid #272822;
      font-size: 12px;
      margin-top: 2px;
      color: #E4E4E4;
      width: 200%;
      border:none;
}
.json-input {
      border-radius: 3px;
      border: 1px solid #272822;
      font-size: 12px;
      color: #E4E4E4;
      width: 200%;
      background: transparent;
}
.json-text {
    color: #999;
}