body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'proximanova';
  font-weight: 300;
  background: #333333;
  user-select: none;
  -webkit-user-select: none;
  cursor:default;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

#drag-handle {
  position: absolute;
  width: 100vw;
  z-index: 600;
  height: 70px;
  -webkit-app-region: drag;
  pointer-events: none;
}

#scenes {
  min-width: 200px;
  max-width: 200px;
  display: none;
  overflow: scroll;
  height: 100vh;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  z-index: 999;
  background: #333;

}


#scenes::-webkit-scrollbar {
    display: none;
}


#scenes div.node:nth-child(2) {
  padding-top: 45px;
}

#scenes .node {
  color: rgba(255,255,255,0.6);
  font-size: 13px;
  padding: 15px;
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(0,0,0,.05);
  border-right: 1px solid rgba(0,0,0,.1);
  filter: saturate(90%) brightness(60%);
  text-rendering: geometricPrecision;

}


#scenes .scene:hover {
  filter: saturate(100%) brightness(70%);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,.2);
}

#scenes .active {
  filter: saturate(100%) brightness(100%) !important;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,.2);
}



#scenes .node * {
  pointer-events: none;
}


#scenes .node .number {
  color: rgba(255,255,255,0.4);
  font-size: 10px;
}

#scenes .node .slugline {
  font-size: 10px;
  font-weight: 700;
}



#scenes .section {
  font-size: 10px;
  background: #333;
  font-weight: 700;
}

#script {
  background: #444;
  width: 200px;
  display: none;
  overflow: scroll;
  height: 100vh;
  border-right: 1px solid rgba(0,0,0,0.1);

}


#script::-webkit-scrollbar {
    display: none;
}


#script .item {
  color: rgba(255,255,255,0.6);
  font-size: 13px;
  padding: 15px;
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(0,0,0,.05);
}

#script .item.slugline {
  font-size: 10px;
  font-weight: 700;
}

#script .item.transition {
  font-size: 10px;
  font-weight: 700;
}

#script .item.slugline .number {
  font-size: 10px;
  font-weight: 100;
}

#script .item.slugline .synopsis {
  font-size: 13px;
  font-weight: 100;
  margin-top: 10px;
}

#script .item.slugline .duration {
  margin-top: 10px;
}

#script .item .dialogue {
  font-weight: 500;
  color: rgba(255,255,255,0.9);
  text-shadow: 0px 1px 0 rgba(0,0,0,0.3);
}

#script .item:hover {
  background: #555;
}


#storyboarder-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#sketch-body {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100px;
}

#thumbnail-container {
  position: relative;
  height: 100px;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}

#thumbnail-container::-webkit-scrollbar {
    display: none;
}

#thumbnail-drawer {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  bottom: 0;
}

#thumbnail-cursor {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7px;

  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid red;
}

#thumbnail-container .thumbnail * {
     pointer-events: none;
}

#thumbnail-drawer .thumbnail:first-of-type {
  margin-left: 15px;
}

#thumbnail-drawer .thumbnail {
  display: inline-block;
  background: #444;
  padding: 5px;
  margin-right: 0px;
  font-size: 10px;
  color: #888;
  font-weight: 100;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  transition: all 0s ease-in-out;
}

#thumbnail-drawer .thumbnail.startShot {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#thumbnail-drawer .thumbnail.endShot {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 10px;
}

#thumbnail-drawer .thumbnail.active {
  background: #ffc000;
  background: #777;
  color: #000;
  transition: all 0s ease-out;
}

#thumbnail-drawer .thumbnail.selected {
  box-shadow: 0 2px 0 red;
}
#thumbnail-drawer .thumbnail.selected.editing {
  box-shadow: 0 2px 0 orange;
}

#thumbnail-drawer img {
  background: white;
  border-radius: 3px;
  position: relative;
  box-shadow: none;
}

#thumbnail-drawer img:after {  
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: white;
  border-radius: 3px;
}

#thumbnail-drawer .thumbnail .info {
  display: flex;
  flex-direction: row;
}

#thumbnail-drawer .thumbnail .number {
  font-weight: 700;
}

#thumbnail-drawer .thumbnail .duration {
  opacity: 0.8;
}

#thumbnail-drawer .thumbnail .caption {
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  font-weight: 100;
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  min-width:0;
  opacity: 0.8;
}


#sketch-pane {
  flex: 1;
  overflow: hidden;
  position: relative;
  cursor: none;
  width: 100px;
  height: 100%;
}

#canvas-container {
  transform: scale(0.0,0.0) translate(0,0);
  transform-origin: 0 0;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  background: white;
  border-radius: 13px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.3);
}

#sketch-pane canvas, #sketch-pane  img {
  position: absolute;
  top: 0;
  border-radius: 15px;
}

#cursor {
  position: absolute;
  border-radius: 500px;
  border: 3px solid rgba(255,255,255,0.4);
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
}

#canvas-container canvas:first-child {
  background: #fff;
}




#board-metadata {
  width: 200px;
  display: flex;
  align-items: center;
/*  padding-right: 15px;
*/  color: rgba(255,255,255,0.5);
  font-size: 14px;
  padding-left: 15px;
}


#board-metadata .flatbutton {
  background: #3a3a3a;
  padding: 3px;
  border-radius: 4px;
  margin-bottom: 5px;
}

#board-metadata .flatbutton:hover {
  background: #444;
}


#board-metadata .hardrule {
  border-top: 1px dotted rgba(255,255,255,0.1);
  margin: 20px 0px;
}

#board-metadata textarea {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  background: #444;
  color: #999;
  font-size: 14px;
  font-weight: 100;
  padding: 10px;
  resize: none;
}

#board-metadata input[type=text] {
  box-sizing: border-box;
  width: 60px;
  border: 0;
  border-radius: 3px;
  background: #444;
  color: #999;
  font-size: 14px;
  font-weight: 100;
  padding: 10px;
  resize: none;
}

#board-metadata input[type=checkbox] {
  display: none;
}

/*label {
  left: 50px;
  position: relative;

}*/

input[type="checkbox"] + label span {
    display:inline-block;
    width:22px;
    height:22px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background: #444;
    border-radius: 3px;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
  
  background: #444;
}

input[type=checkbox]:checked + label:before {
  content:'✖';
  padding-left: 5px;
  padding-top: 3px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  text-align: center;
  line-height: 13px;
  position: absolute;
}



#board-metadata .number {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

#board-metadata .row {
  margin-bottom: 10px;
}

textarea:focus, input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
}

#canvas-caption {
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: .3vw .6vw;
  position: absolute;
  font-size: 1.6vw;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%,0);
  margin: 0;
  width: fit-content;
  max-width: 55vw;
  display: none;
  text-rendering: optimizeLegibility;
  z-index: 200;
  text-shadow: 0 1px 0px rgba(0,0,0,.6);
  font-weight: 100;
}

/*

http://slides.com/sarasoueidan/building-better-interfaces-with-svg#/2
https://icomoon.io/app/#/select
*/


.smallicon {
  width: 25px;
  height: 25px;
  --color1: #888;
  --color2: #444;
  vertical-align: middle;
  top: -2px;
  position: relative;
  filter: drop-shadow( 0px 1px 0px rgba(0,0,0,0.3) );
  margin-right: 4px;
}


/*           -=-=-=-=-==-=-=-=-=-=-=-=-=- */



#timeline {
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
  color: #fff;
}

#timeline .left-block, #timeline .right-block {
  width: 40px;
  padding: 0 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  opacity: 0.5;
}


#timeline #movie-timeline-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
}

#timeline #movie-timeline-content div {
  background: rgba(255,255,255,0.1);
  display: block;
  font-size: 1px;
  height: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

#timeline #movie-timeline-content div:nth-child(even) {
    background: rgba(255,255,255,0.2);
}

#timeline #movie-timeline-content div:nth-child(2) {
    border-radius: 5px 0 0 5px;
}

#timeline #movie-timeline-content div:last-child {
    border-radius: 0 5px 5px 0;
}

div.marker-holder {
  position: absolute;
  background-color: red !important;
  width: 0px;
  height: 0px !important;
}

#timeline .marker {
  position: absolute;
  background-color: #777 !important;
  width: 8px;
  height: 20px !important;
  top: -5px;
  left: 0px;
  z-index: 999;
  border-radius: 3px !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.4) !important;
  transition: left 0.3s;
}

#playback {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 5px 10px;
  height: 50px;
  color: #999;
}

#playback #left-stats {
  font-size: 10px;
  width: 200px;
  opacity: 0.5;
  left: 5px;
  position: relative;
}

#playback #right-stats {
  font-size: 10px;
  width: 200px;
  opacity: 0.5;
  text-align: right;
  right: 5px;
  position: relative;
}

#playback #icons {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

}

#playback svg {
  fill: rgba(255,255,255,0.5);
  width: 25px;
  height: 40px;
  margin: 0 10px;
  filter: drop-shadow( 0 1px 1px rgba(0,0,0,0.4) );
}

#playback svg:hover {
  fill: rgba(255,255,255,0.8);
}


@media only screen and (max-width: 1500px) {

  #scenes {
    min-width: 100px;
    max-width: 100px;
  }

  #script {
    min-width: 100px;
    max-width: 100px;
  }

  #board-metadata {
    width: 150px;
  }

  #toolbar .button {
    padding: 5px;
  }
}



