.notifications, .notifications * {
  box-sizing: border-box;
}
.notifications {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10001;
}
.notification {
  width: 300px;
  height: auto;
  transition: height 0.75s ease-in-out, opacity 0.5s ease-in;
  overflow: hidden;
}
.notification-content {
  color: rgba(255,255,255,0.7);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.5;
  background: rgba(0,0,0,0.8);
  border-radius: 8px;
  pointer-events: none;
}
.notification-content_author {
  padding-top: 10px;
  text-align: right;
  font-size: 12px;
  color: rgba(255,255,255,0.3);
}
