.notifications, .notifications * {
  box-sizing: border-box;
}
.notifications {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10001;
}
.notification {
  width: 300px;
  height: auto;
  transition: height 0.75s ease-in-out, opacity 0.5s ease-in;
  overflow: hidden;
}
.notification-content {
  color: #666;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: Verdana;
  font-size: 14px;
  line-height: 1.5;
  background: #eee;
  border-radius: 8px;
  opacity: 0.85;
  pointer-events: none;
}
.notification-content_author {
  text-align: right;
  font-style: italic;
}
