.preferences-window {
  margin: 0;
  padding: 0;

  background-color: #E5E5E5;
  color: #3A3A3A;

  font-family: 'proximanova';
  font-weight: 300;

  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.preferences-form {
  padding: 48px 60px 60px;
}

.preferences-title {
  font-size: 48px;
  margin: 0 0 10px 0;
  font-weight: 900;
}

.preferences-fieldset {
  padding: 0 0 24px 0;
}
.preferences-subhead {
  font-size: 24px;
  margin: 12px 0 9px;
}

.preferences-input {
  margin: 24px 0;
}

.preferences-hint {
  margin-top: 0.5rem;
  opacity: 0.5;
  font-size: 87.5%;
  line-height: 1.4;
 }
  
 sup {
   font-size: 125%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
   top: 0;
 }
 
input[type=checkbox] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: #3A3A3A;
  border-radius: 3px;
  cursor: pointer;
}

input[type=checkbox]:checked + label:before {
  content:'✖';
  padding-left: 5px;
  padding-top: 3px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  text-align: center;
  line-height: 1;
  position: absolute;
  color: white;
}

input[type=number] {
  font-size: 14px;
  padding: 10px;
  color: white;
  background: #3A3A3A;
  border: none;
  border-radius: 3px;
}

.label-filename {
  margin-left: 0.5rem;
  display: block;
  padding: 9px 0 7px 0;
  line-height: 1;
}

a.filename {
  padding: 8px 10px;
  background-color: #393939;
  color: #FDFDFD;
  border-radius: 6px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}
