@font-face {
  font-family: 'blenderpro';
  src: url('../fonts/blenderpro/blenderpro-thin-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 400; }

@font-face {
  font-family: 'proximanova';
  src: url('../fonts/proximanova/ProximaNova-Reg-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 400; }

@font-face {
  font-family: 'proximanova';
  src: url('../fonts/proximanova/ProximaNova-Light-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 300; }

@font-face {
  font-family: 'proximanova';
  src: url('../fonts/proximanova/ProximaNova-Bold-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 700; }

@font-face {
  font-family: 'proximanova';
  src: url('../fonts/proximanova/proximanova-black-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 900; }

@font-face {
  font-family: 'courierprime';
  src: url('../fonts/courierprime/courier-prime.ttf');
  /* Pretty Modern Browsers */
  font-weight: 200; }

@font-face {
  font-family: 'courierprimesans';
  src: url('../fonts/courierprime/courier-prime-sans.ttf');
  /* Pretty Modern Browsers */
  font-weight: 200; }

body { 
  margin: 0;
  padding: 0;
  color: white;
  background: black;
  background-size: cover;
  font-family: 'proximanova';
  font-weight: 300;
  overflow: hidden;
}

body {
  background: rgb(229,229,229);
  user-select: none;
  -webkit-user-select: none;
  cursor:default;
}

#drawing-toolbar {
  top: 10px;
  left: 10px;
  height: 80px;
  display: block;
  position: relative;
}

.button {
  margin: 0px 5px 0px 0px;
  padding: 10px;
  min-width: 40px;
  display: block;
  float: left;
  background: grey;
  border: 0;
  border-radius: 4px;
}
.button:active {
  background: black;
}

.spacer {
  display: block;
  float: left;
  margin: 10px;
}
