#sketch-body {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
}

#storyboarder-sketch-pane {
  flex: 1;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

#storyboarder-sketch-pane .container {
  /*transform: scale(0.0,0.0) translate(0,0);*/
  /*transform-origin: 0 0;*/
  position: relative;
  /* background: white; */
  /*border-radius: 13px;*/
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  cursor: none;

  flex-shrink: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#storyboarder-sketch-pane .container canvas {
  position: absolute;
}
