#sts-sidebar {
  margin-bottom: 25px;
}

#sts-input1 {
  font-size: 14px;
  width: 100%;
  margin: 0px;
  margin-bottom: 4px;
  background: rgba(255,255,255,0.1);
  border-radius: 4px;
  border: none;
  padding: 9px;
  box-sizing: border-box;
  color: white;
}

#sts-shots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;

}

#sts-shots img {
  width: 100%;
  
  border: 0px solid #444;
  box-sizing: border-box;
  display: block;
  

}

#sts-shots div {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}


#sts-shots div::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 0 rgba(255,255,255,.5);
  border-radius: 3px;
}

#sts-shots div:hover::after {
  box-shadow: inset 0 0 0 6px rgba(100,100,100,.4);
}



#sts-shots div:nth-of-type(1){
  grid-column: span 3;
}






#sts-button {
  display: none;
}

#sts-shots *:focus {
  outline: none;
}

#sts-select select {
  border: none;
  font-size: 10px;
  max-width: 100px;
  overflow: hidden;
  background: #3a3a3a;
  color: #555;
  font-weight: 100;
  padding: 3px 12px;
  -webkit-appearance: none;
  border-radius: 6px;
  margin-right: 4px;
  margin-bottom: 4px;
}

#sts-select select.picked {
  background: #444;
  color: #888;
}
