#toolbar {
  -webkit-app-region: drag;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

#toolbar .group {
  display: flex;
}
#toolbar .group:not(:last-child) {
  margin-left: 10px;
}

#toolbar .group:not(.group_tools) {
  border-radius: 8px;
  padding: 6px;
  height: 56px;
}
#toolbar .group_tools {
  margin-top: -10px;
}

#toolbar .button { /* */ }

#toolbar .group:not(.group_tools) .button {
  border-radius: 5px;

  margin-left: 2px;
  margin-bottom: 4px;

  padding: 15px;
  margin-top: 2px;
  
  width: 35px;
  height: 35px;
}
#toolbar .group_tools .button {
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1500px) {
  #toolbar .group:not(.group_tools) .button {
    padding: 5px;
  }
}

#toolbar .button > svg {
  pointer-events: none;
}

#toolbar .group:not(.group_tools) .button:hover {
  background-color: #444;
}

#toolbar .group:not(.group_tools) .button.active,
#toolbar .group:not(.group_tools) .button.active:hover {
  background-color: #222;
}

#toolbar .icon {
  width: 35px;
  height: 35px;
  --color1: #888;
  --color2: #555;
  filter: drop-shadow( 0px 1px 0px rgba(0, 0, 0, 0.3) );
}

#toolbar .group_tools .button,
#toolbar .group_tools .icon-toolbar-tool {
  width: 75px;
  height: 130px;
}

#toolbar #toolbar-eraser.button,
#toolbar #toolbar-eraser .icon {
  width: 115px;
}

#toolbar .icon-toolbar-tool {
  position: absolute;
  background: transparent url(../img/toolbar-brush-tools.png) no-repeat 0 0;
  background-size: 690px 300px;

  bottom: 15px;
  padding-bottom: 5px; /* make room for the drop shadow */

  filter: brightness(100%) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  transition: bottom 0.15s ease-out, -webkit-filter 0.15s linear; /* in */
}

/* uncomment for a helpful spacing debugger */
/*
#toolbar .icon-toolbar-tool:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,255,0.1) 0%, rgba(255,0,0,0.1) 100%);
}
*/

#toolbar .group_tools .button.active .icon-toolbar-tool,
#toolbar .group_tools .button.active:hover .icon-toolbar-tool {
  bottom: 0;
  filter: brightness(160%) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

#toolbar .icon-toolbar-tool:hover {
  bottom: 0;
  filter: brightness(130%) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  transition: bottom 0.125s ease-in-out, -webkit-filter 0.1 linear; /* out */
}
#toolbar .icon-toolbar-tool_light-pencil {
  background-position: calc((-115px * 0) - 2px - 15px) -170px;
}
#toolbar .icon-toolbar-tool_pencil {
  background-position: calc((-115px * 1) - 2px - 15px) -170px;
}
#toolbar .icon-toolbar-tool_pen {
  background-position: calc((-115px * 2) - 2px - 15px) -170px;
}
#toolbar .icon-toolbar-tool_brush {
  background-position: calc((-115px * 3) - 2px - 15px) -170px;
}
#toolbar .icon-toolbar-tool_note-pen {
  background-position: calc((-115px * 4) - 2px - 15px) -170px;;
}
#toolbar .icon-toolbar-tool_eraser {
  background-position: calc((-115px * 5) + -1px) -170px;;
}
