#toolbar {
  -webkit-app-region: drag;
  display: flex;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;

  /* to avoid Mac top-left controls (close/minimize/zoom) */
  padding-left: 60px;
  /* to balance out for centering */
  padding-right: 60px;
}
.with-script-visible #toolbar,
.with-scenes-visible #toolbar {
  /* if script OR scenes visible, don't bother accomodating for Mac top-left controls*/
  padding-left: 10px;
  padding-right: 10px;
}
/* when no script/scenes, prefer tightly aligning right for multi-row cols at smaller screen widths */
@media only screen and (max-width: 1749px) {
  #toolbar {
    padding-right: 10px;
  }
}
#toolbar.with-reduced-width .column:last-child .group:not(:first-child) {
  display: none;
}

#toolbar .column {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: flex-end;
}

#toolbar .group {
  display: flex;
  position: relative;
}
#toolbar .group:not(:last-child) {
  margin-right: 10px;
}

#toolbar .group:not(.group_tools) {
  border-radius: 8px;
  padding: 6px;
  height: 56px;
}
#toolbar .group_tools {
  margin-top: -10px;
  margin-right: 45px;
}

#toolbar .button { /* */ }

#toolbar .button {
  -webkit-app-region: no-drag
}

#toolbar .group:not(.group_tools) .button {
  border-radius: 5px;

  margin-left: 2px;
  margin-bottom: 4px;

  padding: 15px;
  margin-top: 2px;

  width: 100%;
  height: 100%;

  max-width: 35px;
  max-height: 35px;
}
#toolbar .group_tools .button {
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1709px) {
  #toolbar .group:not(.group_tools) .button {
    padding: 5px;
  }
}

#toolbar .button > svg {
  pointer-events: none;
}

#toolbar .group:not(.group_tools) .button:hover {
  background-color: #444;
}

#toolbar .group:not(.group_tools) .button.active,
#toolbar .group:not(.group_tools) .button.active:hover {
  background-color: #222;
}

#toolbar .icon {
  width: 100%;
  height: 100%;
  --color1: #888;
  --color2: #555;
  filter: drop-shadow( 0px 1px 0px rgba(0, 0, 0, 0.3) );
}

#toolbar .group_tools .button,
#toolbar .group_tools .icon-toolbar-tool {
  width: 85px;
  height: 130px;
}

#toolbar #toolbar-eraser.button,
#toolbar #toolbar-eraser .icon {
  width: 115px;
}

/* uncomment for a helpful spacing debugger */
/*
#toolbar .icon-toolbar-tool:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,255,0.1) 0%, rgba(255,0,0,0.1) 100%);
}
*/


#toolbar .button .icon-toolbar-tool {
  position: absolute;
  background: transparent url(../img/toolbar-brush-tools.png) 0 0 / 690px 300px no-repeat;
  padding-bottom: 5px; /* make room for the drop shadow */

  bottom: 15px;
  filter: brightness(100%) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  transition: bottom 0.15s ease-out, filter 0.15s linear;
}

#toolbar .button .icon-toolbar-tool:hover {
  bottom: 0px;
  filter: brightness(130%) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  /*transition: bottom 0.125s ease-in-out, filter 0.1 linear;*/
}

#toolbar .button.active       .icon-toolbar-tool,
#toolbar .button.active:hover .icon-toolbar-tool {
  bottom: 0px;
  filter: brightness(160%) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  /*transition: bottom 0.125s ease-in-out, filter 0.1 linear;*/
}

#toolbar .button .icon-toolbar-tool_light-pencil {
  background-position: calc((-115px * 0) + 3px - 15px) -170px;
}
#toolbar .button .icon-toolbar-tool_pencil {
  background-position: calc((-115px * 1) + 3px - 15px) -170px;
}
#toolbar .button .icon-toolbar-tool_pen {
  background-position: calc((-115px * 2) + 3px - 15px) -170px;
}
#toolbar .button .icon-toolbar-tool_brush {
  background-position: calc((-115px * 3) + 1px - 15px) -170px;
}
#toolbar .button .icon-toolbar-tool_note-pen {
  background-position: calc((-115px * 4) + 2px - 15px) -170px;
}
#toolbar .button .icon-toolbar-tool_eraser {
  background-position: calc((-115px * 5) + -1px) -170px;
}



#toolbar .toolbar-colors {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 1709px) {
  #toolbar .toolbar-colors {
    margin-top: 0;
  }
}

#toolbar .toolbar-colors_column {
  display: flex;
  background-color: #292929;
}
#toolbar .toolbar-colors_column:first-child {
  border-top-left-radius: 5px;
  /*border-top-right-radius: 5px;*/
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 44px;
  height: 44px;
  /*height: auto;*/
  padding: 8px;
  flex-direction: column;
  position: relative;
}
#toolbar .toolbar-colors_column:last-child {
  /*border-top-left-radius: 5px;*/
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-bottom-left-radius: 5px;*/
  padding: 8px 8px 8px 4px;
  height: 32px;
  position: relative;
}
/* draw concave side connection */
#toolbar .toolbar-colors_column:last-child:before {
  position: absolute;
  content: " ";
  display: block;
  background-color: #292929;
  width: 5px;
  height: 5px;
  bottom: -5px;
  left: 0;
}
#toolbar .toolbar-colors_column:last-child:after {
  position: absolute;
  content: " ";
  display: block;
  background-color: #333;
  border-top: 5px solid #333;
  border-left: 5px solid #333;
  border-top-left-radius: 5px;
  width: 5px;
  height: 5px;
  bottom: -10px;
  left: 0;
}

#toolbar .group .toolbar-colors .button {
  padding: 0;
  margin: 0;
  
  width: 100%;
  height: 100%;
}

#toolbar .toolbar-colors .icon {
  width: 100%;
  height: 100%;
  filter: none;
}

#toolbar .toolbar-colors .button:not(:last-child) {
  margin-right: 10px;
}

#toolbar .toolbar-colors .icon.icon-toolbar-color_current {
  border-radius: 4px;
  background-color: black;
}
#toolbar .toolbar-colors .icon.icon-toolbar-color_palette {
  border-radius: 4px;
  background-color: white;
  width: 32px;
}

.toolbar-brush-size-controls {
  position: absolute;
  margin-top: 48px;
  margin-left: -8px;
  width: 60px;
  display: flex;
  justify-content: space-between;
}
.toolbar-brush-size-controls_dec,
.toolbar-brush-size-controls_val,
.toolbar-brush-size-controls_inc {
  position: relative;
  padding: 8px 0 0 0;
  font-size: 16px;
  line-height: 1;
  height: 22px;
  color: #666;
  text-align: center;
  width: auto;
}

.toolbar-brush-size-controls_dec,
.toolbar-brush-size-controls_inc {
  line-height: 16px;
  font-size: 12px;
  width: 16px;
  color: #444;
  cursor: pointer;
}
