.tooltip-element,
.tooltip-element:after,
.tooltip-element:before,
.tooltip-element *,
.tooltip-element *:after,
.tooltip-element *:before {
  box-sizing: border-box; 
}

.tooltip-element {
  position: absolute;
  display: none; 
}
  .tooltip-element.tooltip-open {
    display: block; 
  }

.tooltip-element.tooltip-open .tooltip-content {
  animation-name: appear;
}

.tooltip-element {
  max-width: 100%;
  max-height: 100%; 
}
  .tooltip-element .tooltip-content {
    position: relative;
    font-family: inherit;

    transform-origin: 50% 0%;

    background: rgba(0,0,0,0.8);
    color: white;

    padding: 20px 25px;

    border-radius: 8px;
    max-width: 300px;

    opacity: 0;

    animation-delay: 1s;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    float: left;
    }
    .tooltip-element .tooltip-content:before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-width: 10px;
      border-style: solid;
  }
  .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content {
    margin-bottom: 10px;
  }
    .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content:before {
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-top-color: rgba(0,0,0,0.8);
  }
  .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content {
    margin-top: 10px;
  }
    .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content:before {
      bottom: 100%;
      left: 50%;
      margin-left: -10px;
      border-bottom-color: rgba(0,0,0,0.8);
  }
  .tooltip-element.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content {
    margin-right: 10px;
  }
    .tooltip-element.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content:before {
      left: 100%;
      top: 50%;
      margin-top: -10px;
      border-left-color: rgba(0,0,0,0.8);
    }
  .tooltip-element.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content {
    margin-left: 10px;
  }
    .tooltip-element.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content:before {
      right: 100%;
      top: 50%;
      margin-top: -10px;
      border-right-color: rgba(0,0,0,0.8);
    }
  .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content {
    margin-top: 10px;
  }
    .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content:before {
      bottom: 100%;
      left: 10px;
      border-bottom-color: rgba(0,0,0,0.8);
    }
  .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content {
    margin-top: 10px;
  }
    .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content:before {
      bottom: 100%;
      right: 10px;
      border-bottom-color: rgba(0,0,0,0.8);
    }
  .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content {
    margin-bottom: 10px;
  }
    .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content:before {
      top: 100%;
      left: 10px;
      border-top-color: rgba(0,0,0,0.8);
    }
  .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content {
    margin-bottom: 10px;
  }
    .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content:before {
      top: 100%;
      right: 10px;
      border-top-color: rgba(0,0,0,0.8);
    }
  .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
    margin-right: 10px;
  }
    .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
      top: 10px;
      left: 100%;
      border-left-color: rgba(0,0,0,0.8);
    }
  .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
    margin-left: 10px;
  }
    .tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
      top: 10px;
      right: 100%;
      border-right-color: rgba(0,0,0,0.8);
    }
  .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
    margin-right: 10px;
  }
    .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
      bottom: 10px;
      left: 100%;
      border-left-color: rgba(0,0,0,0.8);
    }
  .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
    margin-left: 10px;
  }
    .tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
      bottom: 10px;
      right: 100%;
      border-right-color: rgba(0,0,0,0.8);
    }

.tooltip-element {
  pointer-events: none; }



.tooltip .title {
  font-weight: 500;
  font-size: 20px;
  opacity: 0.8;
}

.tooltip .description {
  font-weight: 100;
  font-size: 16px;
  opacity: 0.5;
}

.tooltip .key-command {
  margin-top: 20px;
  margin-bottom: 10px;
  float: right;
  margin-right: -10px;
  color: rgba(255,255,255,0.5);
}

@keyframes appear {
  0% {
    transform: scale(0.7,0.7);
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  85% {
    opacity: 1;
    transform: scale(0.9,0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}
