#toolbar {
  -webkit-app-region: drag;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

#toolbar .group {
  border-radius: 8px;
  padding: 6px;
  display: flex;
}
#toolbar .group:not(:last-child) {
  margin-left: 10px;
}

#toolbar .button {
  border-radius: 5px;
  margin-left: 2px;
  padding: 15px;
  margin-bottom: 4px;
  margin-top: 2px;
}

#toolbar .button > svg {
  pointer-events: none;
}

#toolbar .button:hover {
  background-color: #444;
}

#toolbar .button.active,
#toolbar .button:hover.active {
  background-color: #222;
}

#toolbar .icon {
  width: 35px;
  height: 35px;
  --color1: #888;
  --color2: #555;
  filter: drop-shadow( 0px 1px 0px rgba(0, 0, 0, 0.3) );
}

@media only screen and (max-width: 1500px) {
  #toolbar .button {
    padding: 5px;
  }
}
