#toolbar {
  -webkit-app-region: drag;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

#toolbar .group {
  border-radius: 8px;
  display: flex;
}
#toolbar .group:not(:last-child) {
  margin-left: 10px;
}

#toolbar .group:not(.group_tools) {
  padding: 6px;
  height: 56px;
}
#toolbar .group_tools {
  margin-top: -10px;
}

#toolbar .button { /* */ }

#toolbar .group:not(.group_tools) .button {
  border-radius: 5px;

  margin-left: 2px;
  margin-bottom: 4px;

  padding: 15px;
  margin-top: 2px;
}
#toolbar .group_tools .button {
  margin-left: 6px;
  background-color: purple;

  width: 60px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1500px) {
  #toolbar .group:not(.group_tools) .button {
    padding: 5px;
  }
}

#toolbar .button > svg {
  pointer-events: none;
}

#toolbar .group:not(.group_tools) .button:hover {
  background-color: #444;
}

#toolbar .group:not(.group_tools) .button.active,
#toolbar .button:hover.active {
  background-color: #222;
}

#toolbar .icon {
  width: 35px;
  height: 35px;
  --color1: #888;
  --color2: #555;
  filter: drop-shadow( 0px 1px 0px rgba(0, 0, 0, 0.3) );
}

#toolbar .icon-toolbar-tool {
  position: absolute;
  width: 60px;
  height: 100px;
  top: -25%;
  transition: top 0.3s ease-out;
  background: transparent url(../img/toolbar-tools-dim.png) no-repeat -2px -60px;
  background-size: 586.333px 208px; /* 1759x624 at 1/3 */
}
#toolbar .icon-toolbar-tool:hover {
  background-image: url(../img/toolbar-tools-bright.png);
  top: 0;
  transition: top 0.125s ease-in-out;
}
#toolbar .icon-toolbar-tool_light-pencil {
  background-color: red;
}
#toolbar .icon-toolbar-tool_pencil {
  background-color: orange;
}
#toolbar .icon-toolbar-tool_pen {
  background-color: yellow;
}
#toolbar .icon-toolbar-tool_brush {
  background-color: green;
}
#toolbar .icon-toolbar-tool_eraser {
  background-color: blue;
}
