.upload-window {
  margin: 0;
  padding: 0;

  background-color: #E5E5E5;
  color: #3A3A3A;

  font-family: 'wonderunitsans';
  font-weight: 300;

  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
