body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  color: white;
  background: black;
  background-size: cover;
  font-family: var(--default-font-stack);
  font-weight: 300;
  overflow: hidden;
}

body {
  background: rgb(229,229,229);
  user-select: none;
  -webkit-user-select: none;
  cursor:default;
}

#drag-handle {
  position: absolute;
  width: 100vw;
  z-index: 0;
  height: 200px;
  -webkit-app-region: drag;
  pointer-events: none;
}

iframe {
  height: 100vh;
}

#close-button {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  opacity: 0.5;
  -webkit-app-region: no-drag;

}

#close-button:hover {
  opacity: 0.8;
}

.title {
  margin:  40px 0 0 40px;
  display: flex;
  flex-direction: row;
  color: #3A3A3A;
}

.logo img {
  width: 130px;
}

.title .text {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: left;
  top: 30px;
  position: relative;
}

.title .text div {
  font-size: 15px;
  margin: 0;
  opacity: 0.5;
}

.title .text h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 900;
}

.button {
  background: rgb(200,200,200);
  position: relative;
  bottom: 0;
  transition: 300ms background;
  box-sizing: border-box;
  -webkit-app-region: initial;

  font-size: 17px;
  font-weight: 400;

  padding: 20px;
  border-radius: 10px;
}

.button.blue {
  background: #6f68f0;
}

.button.blue:hover {
  background: #7883f4;
}

.button.grey:hover {
  background: rgb(210,210,210);
}

.button-grid {
  position: absolute;
  bottom: 0;
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.button-grid > :first-child {
  display: flex;
}
.button-grid > :last-child {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.recent {
  position: relative;
  display: block;
  font-size: 15px;
  opacity: 0.5;
  color: #3A3A3A;
  margin: 15px 40px 5px 40px;
  text-transform: uppercase;
}

#recent {
  box-sizing: border-box;
  height: 275px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.recent-container {
  position: relative;
}
#recent:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(230,230,230,0.0) 0%, rgba(230,230,230,1.0) 100%);
  pointer-events: none;
}

.recent-item {
  background: rgba(100,100,100,0.05);
  display: flex;
  flex-direction: row;
  width: 600px;
  padding: 10px 0;
  color: rgba(0,0,0,0.4);
  font-size: 13px;
}

.recent-item:nth-child(even) {
  background: rgba(100,100,100,0.0);
}

.recent-item:hover {
  background: #6f68f0;
  color: rgba(255,255,255,0.6);

}

.recent-item:hover h2 {
  color: rgba(255,255,255,1);

}

.recent-item img {
  width: 40px;
  height: 40px;
  padding-left: 40px;
  padding-right: 15px;
  position: relative;
  top: 3px;

}

h2 {
  color: rgba(0,0,0,0.8);
  margin: 0;
  font-weight: 600;
  font-size: 23px;

}

#welcome {
  color: black;
  margin: 0 40px;
  font-size: 21px;
  font-weight: 100;
  opacity: 0.8;
  margin-top: -20px; /* offset for empty .recent */
  margin-bottom: -20px; /* offset for #recent padding */
  line-height: 1.2;
}

#new-window {
  color: #3A3A3A;
  padding: 30px;
}

.flex-column {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
}

#new-window .button {
  width: 100%;
  margin: 0;
}
